<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">API</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Uploads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/image">Downloads</a>
      </li>

    </ul>
  </div>
</nav>
<div style="text-align:center" class="jumbotron">
  <h1>
    {{ title }}
  </h1>
</div>
<router-outlet></router-outlet>
